.Kiempnk-Container {
  margin-left: 20px;
  font-weight: bold;
  color: #5b626b;
  background-color: #ffffff;
  margin-top: -20px;

  .Maintop {
    display: flex;
    margin-top: 20px;

    p {
      font-size: 14px;
    }

    .Ulsearchk {
      .p1 {
        margin-left: 20px;
      }

      .ipnhd {
        width: 200px;
        height: 29px;
        margin-top: 10px;
        margin-left: 20px;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .Ulsearchk1 {
      .p1 {
        margin-left: 20px;
      }

      .ipnmh {
        width: 200px;
        height: 29px;
        margin-top: 10px;
        margin-left: 20px;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .Ulsearchk2 {
      .p1 {
        margin-left: 20px;
      }

      .ipnsl {
        width: 80px;
        height: 29px;
        margin-top: 10px;
        margin-left: 20px;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .Ulsearchk3 {
      .p1 {
        margin-left: 20px;
      }

      .ipnkhh {
        width: 200px;
        height: 29px;
        margin-top: 10px;
        margin-left: 20px;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .Ulsearchk4 {
      .form-select {
        width: 200px;
        height: 32px;
        color: #5b626b;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 4px;

        margin-top: 10px;
        margin-left: 20px;
      }
      .p1 {
        margin-left: 20px;
      }

      .ipnkhh {
        width: 200px;
        height: 29px;
        margin-top: 10px;
        margin-left: 20px;
        outline: none;
        border: 1px solid #ccc;
      }
    }
  }

  .btn {
    .btn1 {
      width: 108px;
      height: 32px;
      background-color: #029b91;
      outline: none;
      border: 1px solid #ccc;
      color: #ffffff;
      border-radius: 4px;
      margin-left: 20px;
      margin-top: 10px;
    }
    .btn1:hover {
      background-color: #025751;
      color: white;
    }

    .btn2 {
      width: 118px;
      height: 32px;
      background-color: #029b91;
      outline: none;
      border: 1px solid #ccc;
      color: #ffffff;
      border-radius: 4px;
    }

    .btn2:hover {
      background-color: #025751;
      color: white;
    }
  }

  .exp {
    margin-top: 50px;
    margin-left: 20px;
    display: flex;

    .form-select {
      height: 32px;
      outline: none;
      margin-top: 10px;
      padding: 4px;
      color: #5b626b;
      outline: none;
      border: 1px solid #ccc;
    }

    .btnex {
      width: 108px;
      height: 32px;
      background-color: #029b91;
      outline: none;
      border: 1px solid #ccc;
      color: #ffffff;
      border-radius: 4px;
      margin-top: 10px;
    }
    .btnex:hover {
      background-color: #05413d;
      color: white;
    }

    .form-select1 {
      height: 32px;
      outline: none;
      margin-top: 10px;
      padding: 4px;
      color: #5b626b;
      outline: none;
      border: 1px solid #ccc;
    }

    .exp1{
      margin-left: 35px;
      .btnex1 {
        width: 35px;
        height: 32px;
        background-color: #c93b52;
        outline: none;
        border: 1px solid #ccc;
        color: #ffffff;
        border-radius: 4px;
        margin-top: 10px;
      }
      .btnex1:hover {
        background-color: #8b2133;
        color: white;
      }
    }
  }
}
